* {
	transition: all ease 0.4s;
}

$ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);

@keyframes noise {
	$steps: 20;

	@for $i from 0 through $steps {
		#{percentage($i*(1/$steps))} {
			clip: rect(random(100)+px, 9999px, random(100)+px, 0);
		}
	}
}