@mixin abs-center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin abs-pos($top: 0, $left: 0, $x: 0, $y: 0) {
	position: absolute;
	top: $top;
	left: $left;
	transform: translate($x, $y);
}

@mixin size($w, $h) {
	width: $w;
	height: $h;
}

@mixin flex($dir: row, $justify: center, $align: center, $wrap: nowrap) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $dir;
	wrap: $wrap;
}